html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0}table{border-collapse:collapse;border-spacing:0}input,select{vertical-align:middle}

@font-face {
    font-family: "Montserrat";
    src:
      	url("montserrat.woff2") format("woff2 supports variations"),
      	url("montserrat.woff2") format("woff2-variations");
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 100;
}

html {
	height: 100%;
}

body {
    background: #343434;
    color: #d3d3d3;
	font-family: "Montserrat", sans-serif;
	height: 100%;
	text-align: center;
	user-select: none;
}

h1 {
	font-size: 3em;
	padding: 20px;
}

p {
	font-size: 2em;
	padding: 20px;
}

#upload {
	align-items: center;
	background: #00000080;
	border: var(--border) dashed #cbcbcb;
	display: flex;
	height: calc(100% - var(--border) * 2);
	justify-content: center;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	touch-action: none;
	transition: opacity .3s ease-in-out;
	user-select: none;
	width: calc(100% - var(--border) * 2);
	z-index: 1;

	--border: 5px;

	& > p {
		background: #343434;
		border-radius: 20px;
		display: inline-block;
	}

	&.active {
		opacity: 1;
	}
}

#mods {
	
}